In [1]:
import json
import pandas as pd

## COVID Population Data

In [2]:
# Opening JSON file 
f = open('state_pop.json',) 
# returns JSON object as  
# a dictionary 
data = json.load(f)

In [3]:
#data

In [4]:
state_population=[]
# Iterating through the json 
# list 
for i in data: 
    #print(i)
    state_population.append(i)

## COVID STATE DATA

In [8]:
# Opening JSON file 
f = open('nyt_covid_states.json',)
# returns JSON object as  
# a dictionary 
data = json.load(f)

In [9]:
state_COVID=[]
# Iterating through the json 
# list 
for i in data: 
    #print(i)
    state_COVID.append(i)

In [10]:
# Closing file 
f.close()

In [11]:
state_pop_df=pd.DataFrame(state_population)
state_pop_df.head(5)

        State  Population State_FIPS   Latitude   Longitude
0     Alabama   4850771.0         01  32.318231  -86.902298
1      Alaska    738565.0         02  64.200841 -149.493673
2     Arizona   6809946.0         04  34.048928 -111.093731
3    Arkansas   2977944.0         05  35.201050  -91.831833
4  California  38982847.0         06  36.778261 -119.417932

In [13]:
state_COVID_df=pd.DataFrame(state_COVID)
state_COVID_df.head(20)

,date,state,fips,cases,deaths,confirmed_cases,confirmed_deaths,probable_cases,probable_deaths
0,7/29/20,Alabama,1,83782,1538,81572.0,1489.0,2210.0,49.0
1,7/29/20,Alaska,2,3440,20,3440.0,20.0,0.0,0.0
2,7/29/20,Arizona,4,168293,3466,NaN,NaN,NaN,NaN
3,7/29/20,Arkansas,5,40968,434,40968.0,434.0,0.0,0.0
4,7/29/20,California,6,482578,8789,482578.0,8789.0,0.0,0.0
5,7/29/20,Colorado,8,45420,1809,NaN,NaN,NaN,NaN
6,7/29/20,Connecticut,9,49540,4425,NaN,NaN,NaN,NaN
7,7/29/20,Delaware,10,14602,581,NaN,NaN,NaN,NaN
8,7/29/20,District of Columbia,11,11999,584,11999.0,584.0,0.0,0.0
9,7/29/20,Florida,12,451415,6332,0.0,6332.0,451415.0,0.0
10,7/29/20,Georgia,13,163547,3566,163547.0,3566.0,0.0,0.0
11,7/29/20,Guam,66,1320,6,1312.0,6.0,8.0,0.0
12,7/29/20,Hawaii,15,1734,25,NaN,NaN,NaN,NaN
13,7/29/20,Idaho,16,19318,168,18136.0,110.0,1182.0,58.0
14,7/29/20,Illinois,17,176772,7659,175530.0,7465.0,1242.0,194.0
15,7/29/20,Indiana,18,65918,2932,64299.0,2733.0,1619.0,199.0
16,7/29/20,Iowa,19,43283,846,43283.0,846.0,0.0,0.0
17,7/29/20,Kansas,20,27130,349,NaN,NaN,NaN,NaN
18,7/29/20,Kentucky,21,29382,742,NaN,NaN,NaN,NaN
19,7/29/20,Louisiana,22,112887,3883,112773.0,3769.0,114.0,114.0